[Desktop Entry]
Categories=Utility;
Comment[de_DE]=Deine persönliche Favoritenliste
Comment=Deine persönliche Favoritenliste
Exec=/home/raa/Schreibtisch/favoriten_v32/build/favoriten
GenericName[de_DE]=
GenericName=
Icon=/home/raa/Schreibtisch/favoriten_v32/resources/icons/appicon.svg
MimeType=
Name[de_DE]=FavList
Name=FavList
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
