[Desktop Entry]
Type=Application

Name=FavList
Name[de_DE]=FavList

Comment=Deine persönliche Favoritenliste
Comment[de_DE]=Deine persönliche Favoritenliste

Categories=Utility;

Exec=/home/raa/Schreibtisch/FavList/build/favlist
Icon=/home/raa/Schreibtisch/FavList/resources/icons/appicon.svg

Terminal=false
StartupNotify=true
