[Desktop Entry]
Type=Application
Version=1.0
Name=FavList
Name[de_DE]=FavList
Comment=Deine persönliche Favoritenliste
Comment[de_DE]=Deine persönliche Favoritenliste
Exec=favlist
Icon=favlist
Categories=Utility;
Terminal=false
StartupNotify=false
